DEBUG = False

# Log Level
LOG_LEVEL='INFO'

SQLALCHEMY_DATABASE_URI = ''
SQLALCHEMY_TRACK_MODIFICATIONS = True
SQLALCHEMY_RECORD_QUERIES = False

SQLALCHEMY_ENGINE_OPTIONS = {
    # 'pool': 'pool',
    'pool_size' : 5,
    'pool_timeout': 30,
    'pool_recycle': 3600,
    'pool_pre_ping': True,
    'max_overflow': 2
}

AUTO_READ_ON_SLAVE = True
#SQLALCHEMY_BINDS = {
#    'master': SQLALCHEMY_DATABASE_URI,
#    'slave': 'mysql://root:123456@127.0.0.1/aurora?charset=utf8mb4&use_unicode=1'
#}

# Log Level
LOG_LEVEL='INFO'

# Cache
CACHE_TYPE='simple'
CACHE_DEFAULT_TIMEOUT=28800