<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Barista Cafe - HTML Reservation Form</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap" rel="stylesheet">
            
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">  
        
        <link href="{{url_for('static', filename='css/bootstrap-icons.css')}}" rel="stylesheet">  

        <link href="{{url_for('static', filename='css/vegas.min.css')}}" rel="stylesheet">  

        <link href="{{url_for('static', filename='css/tooplate-barista.css')}}" rel="stylesheet">
<!--

Tooplate 2137 Barista

https://www.tooplate.com/view/2137-barista-cafe

Bootstrap 5 HTML CSS Template

-->
    </head>
    
    <body class="reservation-page">
                
            <main>
                <nav class="navbar navbar-expand-lg">                
                    <div class="container">
                        <a class="navbar-brand d-flex align-items-center" href="index.html">
                            <img src="{{url_for('static', filename='images/coffee-beans.png')}}" class="navbar-brand-image img-fluid" alt="">
                            Amora
                        </a>
        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/#section_1">Home</a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link" href="/#section_2">Sobre Nós</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/#section_3">Nosso Menu</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/#section_4">Avaliações</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/#section_5">Contato</a>
                                </li>
                            </ul>

                            <div class="ms-lg-3">
                                <a class="btn custom-btn custom-border-btn" href="cadastro">
                                    Comprar
                                    <i class="bi-arrow-up-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                

                <section class="booking-section section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-16 col-12 mx-auto">
                            <div class="booking-form-wrap">
                                <div class="row">
                                    <div class="col-lg-8 col-12 p-0">
                                        <form class="custom-form booking-form" action="/cadastro" method="POST" role="form">
                                            <div class="text-center mb-6 pb-lg-4">
                                                <h6 class="text-white">Seus Dados</h6>

                                                <em class="text-white">Detalhes de Faturamento</em>
                                            </div>
                                            <div class="booking-form-body">
                                                <div class="row">
                                                    <div class="col-lg-6 col-12">
                                                        <input type="text" name="name" id="name" class="form-control" placeholder="Nome Completo" required>
                                                    </div>
													
													<div class="col-lg-6 col-12">
                                                        <input type="text" name="email" id="email" class="form-control" placeholder="Email" required>
                                                    </div>
													
                                                    <div class="col-lg-6 col-12">
                                                        <input type="tel" class="form-control" name="phone" placeholder="Telefone" required="">
                                                    </div>
													
													<div class="col-lg-6 col-12">
														<select class="form-control" name="typeperson">
														  <option value="tp" selected>Tipo de Pessoa</option>
														  <option value="pf">Pessoa Física</option>
														  <option value="pj">Pessoa Jurídica</option>
														</select>
													</div>

                                                    <div class="col-lg-6 col-12">
                                                        <input class="form-control" type="text" name="document" value="CPF">
                                                    </div>
													
													<div class="col-lg-6 col-12">
                                                        <input class="form-control" type="text" name="zipcode" value="CEP">
                                                    </div>
													
													<div class="col-lg-9 col-12">
                                                        <input type="text" name="street" value="Endereço" id="street" class="form-control" placeholder="Endereço" required>
                                                    </div>
													
													<div class="col-lg-3 col-12">
                                                        <input class="form-control" type="text" name="number" value="Número">
                                                    </div>
													
													<div class="col-lg-6 col-12">
                                                        <input type="text" name="complement" id="complement" class="form-control" placeholder="Complemento" required>
                                                    </div>
													
													<div class="col-lg-6 col-12">
                                                        <input type="text" name="district" id="district" class="form-control" placeholder="Bairro" required>
                                                    </div>
													
													<div class="col-lg-6 col-12">
                                                        <input type="text" name="city" id="city" class="form-control" placeholder="Cidade" required>
                                                    </div>
													
													<div class="col-lg-6 col-12">
														<select class="form-control" name="state">
														  <option value="estado" selected>Estado</option>
														    <option value="ac">AC</option>
															<option value="al">AL</option>
															<option value="ap">AP</option>
															<option value="am">AM</option>
															<option value="ba">BA</option>
															<option value="ce">CE</option>
															<option value="df">DF</option>
															<option value="es">ES</option>
															<option value="go">GO</option>
															<option value="ma">MA</option>
															<option value="mt">MT</option>
															<option value="ms">MS</option>
															<option value="mg">MG</option>
															<option value="pa">PA</option>
															<option value="pb">PB</option>
															<option value="pr">PR</option>
															<option value="pe">PE</option>
															<option value="pi">PI</option>
															<option value="rj">RJ</option>
															<option value="rn">RN</option>
															<option value="rs">RS</option>
															<option value="ro">RO</option>
															<option value="rr">RR</option>
															<option value="sc">SC</option>
															<option value="sp">SP</option>
															<option value="se">SE</option>
															<option value="to">TO</option>
														</select>
													</div>
													
													<div class="col-lg-4 col-12">
                                                        <input type="text" name="country" id="country" class="form-control" placeholder="País" required>
                                                    </div>	
													<p>
													
													<div class="text-center mb-6 pb-lg-4">
														<h6 class="text-white">Dados do Presenteado</h6>
													</div>
													
													<div class="col-lg-6 col-12">
                                                        <input type="text" name="giftedname" id="giftedname" class="form-control" placeholder="Nome do Presenteado" required>
                                                    </div>
													
													<div class="col-lg-6 col-12">
                                                        <input type="telp" class="form-control" name="giftedphone" placeholder="Telefone do Presenteado" required="">
                                                    </div>													
													
													<div class="col-lg-12 col-12">
                                                        <input type="text" name="giftedocasion" id="giftedocasion" class="form-control" placeholder="Ocasião do Presente" required>
                                                    </div>
													
                                                    <div class="col-lg-12 col-12">
                                                        <textarea name="giftedmessage" rows="3" class="form-control" id="giftedmessage" placeholder="Texto para o Cartão (Opcional)"></textarea>
                                                    </div>
													
													<div class="col-lg-12 col-12">
													    <br>
                                                        <input type="text" name="signaturecard" id="signaturecard" class="form-control" placeholder="Assinatura do Cartão" required>
                                                    </div>
													
                                                    <div class="col-lg-6 col-12">
													    <h8 class="text-white">Data de Entrega</h8>
                                                        <input type="date" name="datedelivery" id="datedelivery" class="form-control" placeholder="Date" required="">
                                                    </div>
													<div class="col-lg-6 col-12">
													    <h8 class="text-white">Faixa de Horário</h8>
														<select class="form-control" name="timeslot">
														  <option value="hr" selected>Selecione um intervalo de tempo</option>
														  <option value="1">08:00 - 12:00</option>
														  <option value="2">12:00 - 18:00</option>
														</select>
													</div>
													

                                                    <div class="col-lg-4 col-md-10 col-8 mx-auto mt-2">
                                                        <button type="submit" class="form-control">Enviar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-lg-4 col-12 p-0">
                                        <div class="booking-form-image-wrap">
                                            
                                            <img src="{{url_for('static', filename='images/barman-with-fruits.jpg')}}" class="booking-form-image img-fluid" alt="">
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>


                <footer class="site-footer">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4 col-12 me-auto">
                                <em class="text-white d-block mb-4">Where to find us?</em>

                                <strong class="text-white">
                                    <i class="bi-geo-alt me-2"></i>
                                    Bandra West, Mumbai, Maharashtra 400050, India
                                </strong>

                                <ul class="social-icon mt-4">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook">
                                        </a>
                                    </li>
        
                                    <li class="social-icon-item">
                                        <a href="https://x.com/minthu" target="_new" class="social-icon-link bi-twitter">
                                        </a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-whatsapp">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-12 mt-4 mb-3 mt-lg-0 mb-lg-0">
                                <em class="text-white d-block mb-4">Contact</em>

                                <p class="d-flex mb-1">
                                    <strong class="me-2">Phone:</strong>
                                    <a href="tel: 305-240-9671" class="site-footer-link">
                                        (65) 
                                        305 2409 671
                                    </a>
                                </p>

                                <p class="d-flex">
                                    <strong class="me-2">Email:</strong>

                                    <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                        hello@barista.co
                                    </a>
                                </p>
                            </div>


                            <div class="col-lg-5 col-12">
                                <em class="text-white d-block mb-4">Opening Hours.</em>

                                <ul class="opening-hours-list">
                                    <li class="d-flex">
                                        Monday - Friday
                                        <span class="underline"></span>

                                        <strong>9:00 - 18:00</strong>
                                    </li>

                                    <li class="d-flex">
                                        Saturday
                                        <span class="underline"></span>

                                        <strong>11:00 - 16:30</strong>
                                    </li>

                                    <li class="d-flex">
                                        Sunday
                                        <span class="underline"></span>

                                        <strong>Closed</strong>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-8 col-12 mt-4">
                                <p class="copyright-text mb-0">Copyright © Barista Cafe 2048 
                                    - Design: <a rel="sponsored" href="https://www.tooplate.com" target="_blank">Tooplate</a></p>
                            </div>

                    </div>
                </footer>
            </main>


        <!-- JAVASCRIPT FILES -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vegas.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

       
    </body>
</html>
